
body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

.admin td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 8.5pt;
    color: #000000;
}

.subtext td {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 7pt;
    color: #828282;
}

input {
    font-family: monospace;
    font-size: 10pt;
}

input[type="submit"] {
    font-family: Verdana, Geneva, sans-serif;
}

textarea {
    font-family: monospace;
    font-size: 10pt;
    resize: both;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #828282;
    text-decoration: none;
}

.default {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

.admin, .title, .subtext {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10pt;
    color: #828282;
}

.hnname {
    margin-right: 5px;
}

#hnmain {
    min-width: 796px;
}

.title a {
    word-break: break-word;
}

.comment a:link, .comment a:visited, .subtext a:link, .subtext a:visited {
    color: #828282;
}

.comment a:hover, .subtext a:hover {
    text-decoration: underline;
}

.comhead {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 8pt;
    color: #828282;
}

.hnmore a:link, a:visited {
    color: #828282;
    text-decoration: underline;
}

.default p {
    margin-top: 8px;
    margin-bottom: 0px;
}

.pagebreak {
    page-break-before: always;
}

pre {
    overflow: auto;
    padding: 2px;
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}

pre:hover {
    overflow: auto;
}

.votearrow {
    width: 10px;
    height: 10px;
    border: 0px;
    margin: 3px 2px 6px;
    no-repeat;
    background: url("triangle.svg"), linear-gradient(transparent, transparent) no-repeat;
    background-size: 10px;
}

.votelinks.nosee div.votearrow.rotate180 {
    display: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
       only screen and (min-device-pixel-ratio: 2) {
    .votearrow {
        background-size: 10px;
        background-image: url("triangle.svg"), linear-gradient(transparent, transparent);
    }
}
.rotate180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=-1, DX=0, DY=0, SizingMethod='auto expand')";
}

@media only screen and (min-width: 300px) and (max-width: 750px) {
    #hnmain {
        width: 100%;
        min-width: 0;
    }

    body {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    td {
        height: inherit !important;
    }

    .title, .comment {
        font-size: inherit;
    }

    span.pagetop {
        display: block;
        margin: 3px 5px;
        font-size: 12px;
        line-height: normal;
    }

    span.pagetop b {
        display: block;
        font-size: 15px;
    }

    table.comment-tree .comment a {
        display: inline-block;
        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        vertical-align: top;
    }

    img[src][width='40'] {
        width: 12px;
    }
}
